

main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rebeccapurple;
  color: #fff;
}

main.orange {
  background: orange;
}

main.salmon {
  background: salmon;
}

  .slide-in {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #e94504;
    transform-origin: right;
  }

  .slide-out {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #e2520f;
    transform-origin: left;
  }
